/* Testimonial */
/* ---img----- */
.testimonial-img {
    width: 90%;
    height: 400px;
    background-color: #2545B8;
    padding: 0 2.5em;
    color: white;
    display: flex;
    gap: 3em;
    border-radius: 10px;
    font-family: 'Inter', 'sans-serif'; 
}

.testimonial-img-img-container {
    width: 35%;
    min-width: 300px;
    max-width: 360px;
    height: 464px;
    border-radius: 12px;
    margin-top: -32px;
}

.testimonial-img-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;

}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;

}

.quotation {
    font-family: Georgia;
    font-size: 100px;
    color: #6673c9;
    font-weight: 900;
}

.quote {
    font-size: 24px;
    font-weight: 400;
    margin-top: -25px;
    margin-bottom: 25px;
}

.name {
    font-weight: 600;
}


/* ---text----- */
.testimonial-text {
    width: 90%;
    height: 400px;
    background-color: #F9FAFB;
    padding: 0 2.5em;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    font-weight: 600;
    font-family: 'Inter', 'sans-serif'; 
}

.dot-bg {
    position: absolute;
    bottom: -50%;
    left: 0;
    z-index: 0;
}

.above {
    z-index: 1;
}

.blue-mark {
    color: #2E59F3;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.25em;
    height: 60px;
    font-size: 1.2rem;
}

.logo-text {
    margin-top: 7px;
}

.text-quote {
    max-width: 768px;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

.name-role {
    font-size: 1rem;
}

.text-name {
    font-weight: 600;
}

.text-role {
    font-weight: 400;
    color: #6B7280;
}

.stroke {
    color: #2E59F3;
    font-weight: 900;
}

/* Media query */
@media (max-width: 900px) {
    .quotation {
        font-size: 80px;
    }

    .quote {
        font-size: 22px;
        margin-bottom: 10px;
    }

}

@media (max-width: 750px) {

    .testimonial-container {
        margin-top: 6em;
    }

    .testimonial-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 90%;
        max-width: 370px;
        padding: 0;
        gap: 2em;
        min-height: 500px;
    }

    .testimonial-img-img-container {
        width: 90%;
        min-width: unset;
        max-width: unset;
        height: 220px;
        align-self: center;
        margin-top: -110px;
    }

    .testimonial-img-img-container img {
        object-position: 0 40%;
    }

    .testimonial-content {
        padding: 0 1em 2em 1em;
    }

    .testimonial-text {
        height: auto;
        width: 90%;
        max-width: 370px;
        padding: 1em;
        min-height: 500px;
    }

    .name-role {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    .text-quote {
        text-align: left;
    }

}