/* General */

* {
    box-sizing: border-box;
}

body {
    margin: 0 0.2em;
    background-color: #e5e7eb;
    font-family: 'Inter', 'sans-serif';
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em 1em;
    width: 100%;
    height: 100%;
}

/* Typography */

h1 {
    margin-bottom: -0.5em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}



.title {
    border-bottom: 5px solid black;
}

/* Container */
.badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.card-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em 1em;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 5em;
}

.tooltip-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em 1em;
    flex-wrap: wrap;
}

.toast-popups-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 0.2em;
    margin-bottom: 2em;

    .btn-containers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
    }

    .toast-popups-inner-container {
        display: flex;
    }

}





