/* Banner */
.banner {
    display: flex;
    gap: 1em;
    width: 900px;
    max-width: 90%;
    border-radius: 6px;
    padding: 1em;
    align-items: flex-start;
    background-color: gray;

    &.success {
        background-color: #ECFDF5;
    }

    &.warning {
        background-color: #FFFBEB;
    }

    &.error {
        background-color: #FEF2F2;
    }

    &.neutral {
        background-color: #EFF6FF;
    }
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.banner-icon {
    color: white;
    font-size: 1.2rem;

    &.success {
        color: #34D399;
    }

    &.warning {
        color: #FBBF24;
        font-size: 1.4rem;
    }

    &.error {
        color: #F87171;
        font-size: 1.4rem;
    }

    &.neutral {
        color: #60A5FA;
    }
}

.banner-title {
    font-size: 1.1rem;
    font-weight: 600;

    &.success {
        color: #065F46;
    }

    &.warning {
        color: #92400E;
    }

    &.error {
        color: #92400E;
    }

    &.neutral {
        color: #1E40AF;
    }
}

.banner-text {
    font-size: 1rem;
    font-weight: 400;

    &.success {
        color: #047857;
    }

    &.warning {
        color: #B45309;
    }

    &.error {
        color: #B45309;
    }

    &.neutral {
        color: #1C51B9;
    }
}


.toast {
    display: none;
    opacity: 0;
    position: fixed;
    max-width: 320px;
    z-index: 2;
    transition: opacity 2s;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px gray;

    &.top-left {
        top: 5px;
        left: 5px;
    }

    &.top-right {
        top: 5px;
        right: 5px;
    }

    &.bottom-left {
        bottom: 5px;
        left: 5px;
    }

    &.bottom-right {
        bottom: 5px;
        right: 5px;
    }
}


.toast-btn {
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-family: inherit;
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px gray;
    width: 200px;

    &:hover {
        cursor: pointer;
    }
}

.success-btn {
    background-color: #ECFDF5;
    color: #065F46;
}

.warning-btn {
    background-color: #FFFBEB;
    color: #92400E;
}

.information-btn {
    background-color: #EFF6FF;
    color: #1E40AF;
}

.error-btn {
    background-color: #FEF2F2;
    color: #92400E;
}